*, *::before, *::after {
  font-family: Gotham Rounded, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 25px;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
}

.App {
  text-align: center;
}
 
.header-box {
  border-radius: 3px;
  border-style: solid;
  border-width:2px;
  border-color: black; 
  background-color: hsl(208, 17%, 80%);
  padding-left: 4px;
}


.holder-editor {
  width: 80%;
  height: 400px;
  margin: 4% auto;
  font-size: 1rem;

}

.editor__textarea {
  width: 100%;
  height: 400px;
  padding:6px;
  border-radius: 3px;
  border-style: solid;
  border-width:2px;
  border-color: black; 
  background-color: hsl(208, 17%, 90%);
  overflow-y: scroll;
  resize: none;
  font-size: 0.8em;
}

.holder-previewer {
  max-width: 80%;
  height: 600px;
  margin: 10% auto;
}

.previewer__div {
  max-width: 100%;
  height: 600px;
  padding:6px;
  border-radius: 3px;
  border-style: solid;
  border-width:2px;
  background-color: hsl(208, 17%, 90%);
  border-color: black; 
  overflow-y: scroll;
}

pre {
  display: block;
  background-color: white;
  
  overflow: auto;
  padding: 5px;
  line-height: 1.2;
}
code {
  font-family: 'Courier New', monospace;
  background-color: white;
  font-weight: bold;
  color: #333333;
  font-size: 0.875rem;
}

blockquote {
  border-left-color: #333333;
  border-left-width: 7px;
  border-left-style: solid;
  padding-left: 18px;
}

img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}